$colors:(
    fontmain: #FFFFFF,
    bodymain: #55009f,
    navbg: #d62434
);

body,html{
    height:100%;
}

body{
    background-color: map-get($colors, bodymain);
}
.navbar{
    padding: 0rem 1rem;
}
.bg-custom{
    background-color: map-get($colors, navbg);
    .nav-item{
        .nav-link{
            color : white;
        }
    }
}